In [1]:
import pandas as pd
import numpy as np

In [2]:
all_data=pd.read_csv("../Resources/Combined_Player_Stats.csv")
standings=pd.read_csv("../Resources/mlb_standings_2013_2023.csv")

In [10]:
standings['Team'] = standings['Team'].replace('LAL', 'LAA')

In [11]:
condition = all_data['Team'].str.len() <= 3

all_data = all_data[condition]

all_data.head()

,Player,Season,Age,Team,Lg,G,AS,PA,AB,R,...,SLG,OPS,OPS+,TB,GIDP,HBP,SH,SF,IBB,Pos
1,Adam Duvall,2023,34,BOS,AL,92,0,353,320,45,...,0.531,0.834,119,170,0,6,0,5,1,89/H7D
2,Adam Frazier,2023,31,BAL,AL,141,0,455,412,59,...,0.396,0.696,94,163,4,4,4,2,0,*4H/97D
3,Adley Rutschman,2023,25,BAL,AL,154,1,687,588,84,...,0.435,0.809,128,256,14,2,0,5,6,*2D/H
4,Adolis García,2023,30,TEX,AL,148,1,632,555,108,...,0.508,0.836,127,282,12,6,0,6,0,*9/8DH
5,Akil Baddoo,2023,24,DET,AL,112,0,357,312,40,...,0.372,0.682,88,116,4,0,2,1,2,7H/89D

In [12]:
# Merge all_data with standings
merged_df = pd.merge(all_data, standings[['Team', 'Season', 'Standings']], on=['Team', 'Season'], how='left')

In [14]:
merged_df.to_csv("../Resources/Merged_Player_Stats.csv", index=False)

In [15]:
all_data=pd.read_csv("../Resources/Merged_Player_Stats.csv")
war=pd.read_csv("../Resources/WAR.csv")

In [16]:
# Merge the result with war
merged_df = pd.merge(all_data, war, on=['Player', 'Season'], how='left')
merged_df.head()

,Player,Season,Age,Team_x,Lg,G,AS,PA,AB,R,...,GIDP,HBP,SH,SF,IBB,Pos,Standings,Rk,WAR,Team_y
0,Adam Duvall,2023,34,BOS,AL,92,0,353,320,45,...,0,6,0,5,1,89/H7D,20,63.0,1.6,BOS
1,Adam Frazier,2023,31,BAL,AL,141,0,455,412,59,...,4,4,4,2,0,*4H/97D,2,70.0,1.7,BAL
2,Adley Rutschman,2023,25,BAL,AL,154,1,687,588,84,...,14,2,0,5,6,*2D/H,2,178.0,4.3,BAL
3,Adolis García,2023,30,TEX,AL,148,1,632,555,108,...,12,6,0,6,0,*9/8DH,7,75.0,4.2,TEX
4,Akil Baddoo,2023,24,DET,AL,112,0,357,312,40,...,4,0,2,1,2,7H/89D,19,15.0,0.6,DET

In [17]:
merged_df = merged_df.drop(columns=['Age', 'OPS', 'TB', 'GIDP', 'HBP', 'SH', 'SF', 'IBB', 'Team_y', 'Rk'])

In [20]:
merged_df.head()

,Player,Season,Team_x,Lg,G,AS,PA,AB,R,H,...,CS,BB,SO,BA,OBP,SLG,OPS+,Pos,Standings,WAR
0,Adam Duvall,2023,BOS,AL,92,0,353,320,45,79,...,0,22,110,0.247,0.303,0.531,119,89/H7D,20,1.6
1,Adam Frazier,2023,BAL,AL,141,0,455,412,59,99,...,4,32,68,0.240,0.300,0.396,94,*4H/97D,2,1.7
2,Adley Rutschman,2023,BAL,AL,154,1,687,588,84,163,...,2,92,101,0.277,0.374,0.435,128,*2D/H,2,4.3
3,Adolis García,2023,TEX,AL,148,1,632,555,108,136,...,1,65,175,0.245,0.328,0.508,127,*9/8DH,7,4.2
4,Akil Baddoo,2023,DET,AL,112,0,357,312,40,68,...,3,42,89,0.218,0.310,0.372,88,7H/89D,19,0.6

In [21]:
merged_df = merged_df.rename(columns={
    'Lg': 'League',
    'G': 'Games_Played',
    'AS' : 'All-Star',
    'PA' : 'Plate_Appearances',
    'AB' : 'At_Bats', 
    'R' : 'Runs',
    'H' : 'Hits',
    '1B' : 'Single',
    '2B' : 'Double',
    '3B' : 'Triple',
    'HR' : 'Home_Run',
    'RBI' : 'Runs_Batted_In',
    'SB' : 'Stolen_Bases',
    'CS' : 'Caught_Stealing',
    'BB' : 'Walks',
    'SO' : 'Strikeouts',
    'BA' : 'Batting_Average',
    'OBP' : 'On_Base_Percentage',
    'SLG' : 'Slugging_Percentage',
    'OPS+' : 'On_Base_Plus_Slugging_Plus_(OPS+)',
    'Team_x': 'Team'
})

In [22]:
merged_df = merged_df.drop(columns=['Team', 'Single', 'Double', 'Triple', 'Caught_Stealing', 'League'])

In [23]:
merged_df.head()

,Player,Season,Games_Played,All-Star,Plate_Appearances,At_Bats,Runs,Hits,Home_Run,Runs_Batted_In,Stolen_Bases,Walks,Strikeouts,Batting_Average,On_Base_Percentage,Slugging_Percentage,On_Base_Plus_Slugging_Plus_(OPS+),Pos,Standings,WAR
0,Adam Duvall,2023,92,0,353,320,45,79,21,58,4,22,110,0.247,0.303,0.531,119,89/H7D,20,1.6
1,Adam Frazier,2023,141,0,455,412,59,99,13,60,11,32,68,0.240,0.300,0.396,94,*4H/97D,2,1.7
2,Adley Rutschman,2023,154,1,687,588,84,163,20,80,1,92,101,0.277,0.374,0.435,128,*2D/H,2,4.3
3,Adolis García,2023,148,1,632,555,108,136,39,107,9,65,175,0.245,0.328,0.508,127,*9/8DH,7,4.2
4,Akil Baddoo,2023,112,0,357,312,40,68,11,34,14,42,89,0.218,0.310,0.372,88,7H/89D,19,0.6

In [25]:
merged_df.to_csv("../Resources/Merged_Stats_Final.csv")