In [19]:
import pandas as pd
import numpy as np
import random

In [20]:
all_star_data=pd.read_csv("Resources/All_Star_Player_Stats.csv")
all_data=pd.read_csv("Resources/Combined_Player_Stats.csv")

In [21]:
all_data.head(15)

,Player,Season,Age,Team,Lg,G,AS,PA,AB,R,...,SLG,OPS,OPS+,TB,GIDP,HBP,SH,SF,IBB,Pos
0,Aaron Hicks,2023,33,"BAL,NYY",AL,93,0,312,269,44,...,0.383,0.735,106,103,3,0,0,1,1,879H/D
1,Adam Duvall,2023,34,BOS,AL,92,0,353,320,45,...,0.531,0.834,119,170,0,6,0,5,1,89/H7D
2,Adam Frazier,2023,31,BAL,AL,141,0,455,412,59,...,0.396,0.696,94,163,4,4,4,2,0,*4H/97D
3,Adley Rutschman,2023,25,BAL,AL,154,1,687,588,84,...,0.435,0.809,128,256,14,2,0,5,6,*2D/H
4,Adolis Garc√≠a,2023,30,TEX,AL,148,1,632,555,108,...,0.508,0.836,127,282,12,6,0,6,0,*9/8DH
5,Akil Baddoo,2023,24,DET,AL,112,0,357,312,40,...,0.372,0.682,88,116,4,0,2,1,2,7H/89D
6,Alec Bohm,2023,26,PHI,NL,145,0,611,558,74,...,0.437,0.765,106,244,23,5,0,6,1,53/DH
7,Alejandro Kirk,2023,24,TOR,AL,123,0,422,372,34,...,0.358,0.692,92,133,21,6,0,2,1,2HD
8,Alek Thomas,2023,23,ARI,NL,125,0,402,374,51,...,0.374,0.647,74,140,5,4,2,3,1,*8H/D
9,Alex Bregman,2023,29,HOU,AL,161,0,724,622,103,...,0.441,0.804,122,274,22,8,0,2,1,*5/D
10,Alex Call,2023,28,WSN,NL,128,0,439,375,43,...,0.307,0.614,72,115,1,6,3,2,0,*87/9H
11,Alex Verdugo,2023,27,BOS,AL,142,0,602,546,81,...,0.421,0.745,100,230,11,6,0,5,1,*9/H
12,Amed Rosario,2023,27,"CLE,LAD","AL,NL",142,0,545,510,70,...,0.378,0.683,87,193,15,3,0,3,0,64H/D
13,Andr√©s Gim√©nez,2023,24,CLE,AL,153,0,616,557,76,...,0.399,0.712,95,222,10,20,4,3,3,*4/H
14,Andrew Benintendi,2023,28,CHW,AL,151,0,621,562,72,...,0.356,0.682,88,200,12,3,1,3,5,*7/HD

In [22]:
all_star_data.head()

,Player,Season,Age,Team,Lg,G,AS,PA,AB,R,...,SLG,OPS,OPS+,TB,GIDP,HBP,SH,SF,IBB,Pos
0,Ronald Acu√±a Jr.,2023,25,ATL,NL,159,1,735,643,149,...,0.596,1.012,171,383,15,9,0,3,3,*9/D
1,Ozzie Albies,2023,26,ATL,NL,148,1,660,596,96,...,0.513,0.849,126,306,9,8,0,8,2,*4
2,Pete Alonso,2023,28,NYM,NL,154,1,658,568,92,...,0.504,0.821,123,286,17,21,0,4,6,*3/D
3,Orlando Arcia,2023,28,ATL,NL,139,1,533,488,66,...,0.420,0.741,99,205,14,3,0,3,0,*6/H
4,Nolan Arenado,2023,32,STL,NL,144,1,612,560,71,...,0.459,0.774,108,257,21,3,0,8,5,*5D/H

In [23]:
def RandomLeague():
    return random.choice(['AL','NL'])

all_data.loc[(all_data.Lg=='AL,NL'),'Lg'] = RandomLeague()
all_data.head(25)

,Player,Season,Age,Team,Lg,G,AS,PA,AB,R,...,SLG,OPS,OPS+,TB,GIDP,HBP,SH,SF,IBB,Pos
0,Aaron Hicks,2023,33,"BAL,NYY",AL,93,0,312,269,44,...,0.383,0.735,106,103,3,0,0,1,1,879H/D
1,Adam Duvall,2023,34,BOS,AL,92,0,353,320,45,...,0.531,0.834,119,170,0,6,0,5,1,89/H7D
2,Adam Frazier,2023,31,BAL,AL,141,0,455,412,59,...,0.396,0.696,94,163,4,4,4,2,0,*4H/97D
3,Adley Rutschman,2023,25,BAL,AL,154,1,687,588,84,...,0.435,0.809,128,256,14,2,0,5,6,*2D/H
4,Adolis Garc√≠a,2023,30,TEX,AL,148,1,632,555,108,...,0.508,0.836,127,282,12,6,0,6,0,*9/8DH
5,Akil Baddoo,2023,24,DET,AL,112,0,357,312,40,...,0.372,0.682,88,116,4,0,2,1,2,7H/89D
6,Alec Bohm,2023,26,PHI,NL,145,0,611,558,74,...,0.437,0.765,106,244,23,5,0,6,1,53/DH
7,Alejandro Kirk,2023,24,TOR,AL,123,0,422,372,34,...,0.358,0.692,92,133,21,6,0,2,1,2HD
8,Alek Thomas,2023,23,ARI,NL,125,0,402,374,51,...,0.374,0.647,74,140,5,4,2,3,1,*8H/D
9,Alex Bregman,2023,29,HOU,AL,161,0,724,622,103,...,0.441,0.804,122,274,22,8,0,2,1,*5/D
10,Alex Call,2023,28,WSN,NL,128,0,439,375,43,...,0.307,0.614,72,115,1,6,3,2,0,*87/9H
11,Alex Verdugo,2023,27,BOS,AL,142,0,602,546,81,...,0.421,0.745,100,230,11,6,0,5,1,*9/H
12,Amed Rosario,2023,27,"CLE,LAD",AL,142,0,545,510,70,...,0.378,0.683,87,193,15,3,0,3,0,64H/D
13,Andr√©s Gim√©nez,2023,24,CLE,AL,153,0,616,557,76,...,0.399,0.712,95,222,10,20,4,3,3,*4/H
14,Andrew Benintendi,2023,28,CHW,AL,151,0,621,562,72,...,0.356,0.682,88,200,12,3,1,3,5,*7/HD
15,Andrew McCutchen,2023,36,PIT,NL,112,0,473,390,55,...,0.397,0.776,112,155,8,4,0,4,1,D/9H
16,Andrew Vaughn,2023,25,CHW,AL,152,0,615,566,67,...,0.429,0.743,102,243,15,11,0,2,0,*3/DH
17,Anthony Rizzo,2023,33,NYY,AL,99,0,421,373,45,...,0.378,0.706,94,141,10,12,0,1,1,3/D
18,Anthony Santander,2023,28,BAL,AL,153,0,656,591,81,...,0.472,0.797,121,279,11,6,0,4,1,9D3/H7
19,Anthony Volpe,2023,22,NYY,AL,159,0,601,541,62,...,0.383,0.666,81,207,10,5,1,2,0,*6/H
20,Austin Hays,2023,27,BAL,AL,144,1,566,520,76,...,0.444,0.769,114,231,11,3,0,5,1,*7/89HD
21,Austin Hedges,2023,30,"PIT,TEX",AL,81,0,212,185,14,...,0.227,0.461,27,42,7,2,10,3,0,2/1DH
22,Austin Riley,2023,26,ATL,NL,159,1,715,636,117,...,0.516,0.861,130,328,18,9,0,11,4,*5
23,Bo Bichette,2023,25,TOR,AL,135,1,601,571,69,...,0.475,0.814,122,271,14,2,0,1,0,*6/DH
24,Bobby Witt Jr.,2023,23,KCR,AL,158,0,694,641,97,...,0.495,0.813,118,317,11,4,1,8,1,*6D/H

In [24]:
all_data_cleaned=all_data.drop(columns=['Age', 'Team', 'GIDP', 'HBP', 'SH', 'SF', 'IBB', 'Pos'])
all_data_cleaned.head()

,Player,Season,Lg,G,AS,PA,AB,R,H,1B,...,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB
0,Aaron Hicks,2023,AL,93,0,312,269,44,68,50,...,6,0,42,69,0.253,0.353,0.383,0.735,106,103
1,Adam Duvall,2023,AL,92,0,353,320,45,79,32,...,4,0,22,110,0.247,0.303,0.531,0.834,119,170
2,Adam Frazier,2023,AL,141,0,455,412,59,99,63,...,11,4,32,68,0.240,0.300,0.396,0.696,94,163
3,Adley Rutschman,2023,AL,154,1,687,588,84,163,111,...,1,2,92,101,0.277,0.374,0.435,0.809,128,256
4,Adolis Garc√≠a,2023,AL,148,1,632,555,108,136,68,...,9,1,65,175,0.245,0.328,0.508,0.836,127,282

In [25]:
all_star_data_cleaned=all_star_data.drop(columns=['Age', 'Team', 'GIDP', 'HBP', 'SH', 'SF', 'IBB', 'Pos'])
all_star_data_cleaned.head()

,Player,Season,Lg,G,AS,PA,AB,R,H,1B,...,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB
0,Ronald Acu√±a Jr.,2023,NL,159,1,735,643,149,217,137,...,73,14,80,84,0.337,0.416,0.596,1.012,171,383
1,Ozzie Albies,2023,NL,148,1,660,596,96,167,99,...,13,1,46,107,0.280,0.336,0.513,0.849,126,306
2,Pete Alonso,2023,NL,154,1,658,568,92,123,54,...,4,1,65,151,0.217,0.318,0.504,0.821,123,286
3,Orlando Arcia,2023,NL,139,1,533,488,66,129,87,...,1,0,39,102,0.264,0.321,0.420,0.741,99,205
4,Nolan Arenado,2023,NL,144,1,612,560,71,149,95,...,3,3,41,101,0.266,0.315,0.459,0.774,108,257

In [45]:
all_data_cleaned=all_data_cleaned.rename(columns={"Lg":"League",
                                                  "G":"Games_Played",
                                                  "AS":"All-Star",
                                                  "PA":"Plate_Appearances",
                                                  "AB":"At_Bats",
                                                  "R":"Runs",
                                                  "H":"Hits",
                                                  "1B":"Single",
                                                  "2B":"Double",
                                                  "3B":"Triple",
                                                  "HR":"Home_Runs",
                                                  "RBI":"Runs_Batted_In",
                                                  "SB": "Stolen_Bases",
                                                  "CS":"Caught_Stealing",
                                                  "BB":"Walks",
                                                  "SO":"Strikeouts",
                                                  "BA":"Batting_Average",
                                                  "OBP":"On_Base_Percentage",
                                                  "SLG":"Slugging_Percentage",
                                                  "OPS":"On_Base_Plus_Slugging_(OPS)",
                                                  "OPS+":"On_Base_Plus_Slugging_Plus_(OPS+)",
                                                  "TB":"Total_Bases"
                                                  })
all_data_cleaned.head()

,Season,League,Games_Played,All-Star,Plate_Appearances,At_Bats,Runs,Hits,Single,Double,...,Stolen_Bases,Caught_Stealing,Walks,Strikeouts,Batting_Average,On_Base_Percentage,Slugging_Percentage,On_Base_Plus_Slugging_(OPS),On_Base_Plus_Slugging_Plus_(OPS+),Total_Bases
0,2023,AL,93,0,312,269,44,68,50,9,...,6,0,42,69,0.253,0.353,0.383,0.735,106,103
1,2023,AL,92,0,353,320,45,79,32,24,...,4,0,22,110,0.247,0.303,0.531,0.834,119,170
2,2023,AL,141,0,455,412,59,99,63,21,...,11,4,32,68,0.240,0.300,0.396,0.696,94,163
3,2023,AL,154,1,687,588,84,163,111,31,...,1,2,92,101,0.277,0.374,0.435,0.809,128,256
4,2023,AL,148,1,632,555,108,136,68,29,...,9,1,65,175,0.245,0.328,0.508,0.836,127,282

In [52]:
all_star_data_cleaned=all_star_data_cleaned.rename(columns={"Lg":"League",
                                                  "G":"Games_Played",
                                                  "AS":"All-Star",
                                                  "PA":"Plate_Appearances",
                                                  "AB":"At_Bats",
                                                  "R":"Runs",
                                                  "H":"Hits",
                                                  "1B":"Single",
                                                  "2B":"Double",
                                                  "3B":"Triple",
                                                  "HR":"Home_Run",
                                                  "RBI":"Runs_Batted_In",
                                                  "SB": "Stolen_Bases",
                                                  "CS":"Caught_Stealing",
                                                  "BB":"Walks",
                                                  "SO":"Strikeouts",
                                                  "BA":"Batting_Average",
                                                  "OBP":"On_Base_Percentage",
                                                  "SLG":"Slugging_Percentage",
                                                  "OPS":"On_Base_Plus_Slugging_(OPS)",
                                                  "OPS+":"On_Base_Plus_Slugging_Plus_(OPS+)",
                                                  "TB":"Total_Bases"
                                                  })
all_star_data_cleaned.head()

,Season,League,Games_Played,All-Star,Plate_Appearances,At_Bats,Runs,Hits,Single,Double,...,Stolen_Bases,Caught_Stealing,Walks,Strikeouts,Batting_Average,On_Base_Percentage,Slugging_Percentage,On_Base_Plus_Slugging_OPS,On_Base_Plus_Slugging_Plus_OPS,Total_Bases
0,2023,NL,159,1,735,643,149,217,137,35,...,73,14,80,84,0.337,0.416,0.596,1.012,171,383
1,2023,NL,148,1,660,596,96,167,99,30,...,13,1,46,107,0.280,0.336,0.513,0.849,126,306
2,2023,NL,154,1,658,568,92,123,54,21,...,4,1,65,151,0.217,0.318,0.504,0.821,123,286
3,2023,NL,139,1,533,488,66,129,87,25,...,1,0,39,102,0.264,0.321,0.420,0.741,99,205
4,2023,NL,144,1,612,560,71,149,95,26,...,3,3,41,101,0.266,0.315,0.459,0.774,108,257

In [47]:
all_data_cleaned=all_data_cleaned.drop(columns=["Player"])
all_star_data_cleaned=all_star_data_cleaned.drop(columns=["Player"])
all_star_data_cleaned.head()

KeyError: "['Player'] not found in axis"

In [48]:
all_data_cleaned=all_data_cleaned.dropna()
all_star_data_cleaned=all_star_data_cleaned.dropna()

In [49]:
all_data_cleaned=all_data_cleaned.drop_duplicates()
all_star_data_cleaned=all_star_data_cleaned.drop_duplicates()

In [50]:
all_star_data_cleaned.head()

,Season,League,Games_Played,All-Star,Plate_Appearances,At_Bats,Runs,Hits,Single,Double,...,Stolen_Bases,Caught_Stealing,Walks,Strikeouts,Batting_Average,On_Base_Percentage,Slugging_Percentage,On_Base_Plus_Slugging_OPS,On_Base_Plus_Slugging_Plus_OPS,Total_Bases
0,2023,NL,159,1,735,643,149,217,137,35,...,73,14,80,84,0.337,0.416,0.596,1.012,171,383
1,2023,NL,148,1,660,596,96,167,99,30,...,13,1,46,107,0.280,0.336,0.513,0.849,126,306
2,2023,NL,154,1,658,568,92,123,54,21,...,4,1,65,151,0.217,0.318,0.504,0.821,123,286
3,2023,NL,139,1,533,488,66,129,87,25,...,1,0,39,102,0.264,0.321,0.420,0.741,99,205
4,2023,NL,144,1,612,560,71,149,95,26,...,3,3,41,101,0.266,0.315,0.459,0.774,108,257

In [51]:
all_data_cleaned.to_csv("Resources/Combined_Player_Stats_Cleaned_2.csv", index=False)
all_star_data_cleaned.to_csv("Resources/All_Star_Player_Stats_Cleaned_2.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'Resources/Combined_Player_Stats_Cleaned_2.csv'